.button{
    -fx-background-color: #2E8B57;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-font-size: 18px;
    -fx-transition-duration: 0.4s;
    -fx-border-radius: 4px;
}

.button:hover{
     -fx-background-color: #555555;
}