/* CSS for background GUI*/
#background {
     -fx-background-image: url("/images/woodBackground.jpg");
     -fx-background-size: 1000px;
}

/*CSS for the buttons*/
.button{
    -fx-background-color: #2E8B57;
    -fx-border: none;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-font-size: 18px;
    -fx-transition-duration: 0.4s;
    -fx-border-radius: 4px;
}

/*CSS for the buttons*/
.button:hover{
     -fx-background-color: #555555;
}

/*Othello image button Main Menu*/
#buttonOthello{
    -fx-background-image: url('/images/Othello.png');
    -fx-background-size: 140px;
    -fx-border-radius: 4px;
}

/*TTT image button Main Menu*/
#buttonTTT{
    -fx-background-image: url('/images/TTT.png');
    -fx-background-size: 140px;
    -fx-border-radius: 4px;
}

/*Othello/TTT Image buttons on hover */
#buttonOthello:hover,#buttonTTT:hover {
     -fx-border-color: #555555;
     -fx-border-width: 2px;
}

/* CSS for player statistics Label*/
#playerInformationLabel{
    -fx-background-color: #2E8B57;
}

/* CSS for player statistics HBox*/
#playerInformationHBox{
    -fx-background-color: #2E8B57;
    -fx-font-size: 16px;
}

/* CSS for all the labels*/
.label{
    -fx-background-color: #555555;
    -fx-text-fill: white;
    -fx-text-align: center;
    -fx-font-size: 14px;
}

/* CSS for combobox (AI difficulty)*/
.comboBox{
    -fx-background-color: #F5F5F5;
    -fx-text-align: center;
    -fx-font-size: 14px;
    -fx-transition-duration: 0.4s;
    -fx-border-radius: 4px;
}

/* CSS for all the labels*/
.text-field:focused{
   -fx-background-color : #2E8B57,#F5F5F5;
   -fx-background-insets: 0,2px;
}

/* CSS for combobox hover*/
.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white ;
    -fx-background-color: #555555;
}

/* CSS for combobox selected*/
.combo-box .combo-box-popup .list-cell:selected {
    -fx-text-fill: white ;
    -fx-background-color: #2E8B57;
}

#isAIBox{
  -fx-text-fill: white;
  -fx-font-size: 13px;
}

/* When the checkbox is checked, add a blue background */
#isAIBox input:checked{
  -fx-background-color: #2196F3;
  -fx-display: block;
}

#backgroundCheckbox{
    -fx-background-color: #2E8B57;
}